<div class="form-group row">
    <div class="col col-xs-4">  
        <input type="text" class="form-control" [(ngModel)]="valor1" [ngModelOptions]="{standalone: true}" [disabled]="disabled" >
    </div>
    <div class="col col-xs-4">
        <input type="text" class="form-control" [(ngModel)]="valor2" [ngModelOptions]="{standalone: true}" [disabled]="disabled">
    </div>
    <div class="col col-xs-4">
        <button type="button" style="margin-top: -7px;" class="br-buscar btn btn-default" (click)="openModal()">...</button>
    </div>
</div>
