<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-bottom">
                        <form  (ngSubmit)="reset()"  class="login-form">
                            
                            <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
                            <br/>
                            <div class="form-group">
                                <!-- <label for="username" class="sr-only">Usuario : </label> -->
                                <input type="text" id="username" name="username"  [(ngModel)]="usuario"
                                class="form-control" placeholder="Usuario..." autocomplete="off" required>
                                
                            </div>
                            <br/>
                            <div class="form-group">
                                <!-- <label for="password" class="sr-only">Contraseña : </label> -->
                                <input type="password" id="password" name="password"  [(ngModel)]="password"
                                class="form-control" placeholder="Contraseña..." autocomplete="off" required>
                            </div>
                            <br/>
                            <div class="form-group">
                                <!-- <label for="password" class="sr-only">Contraseña : </label> -->
                                <input type="password" id="password" name="password"  [(ngModel)]="password_re"
                                class="form-control" placeholder="Repita Contraseña..." autocomplete="off" required
                                (keyup)="keyup($event)">
                            </div>
                            
                            <br/>
                            <br/>
                            <div class="col-xs-4"></div>
                            {{mensajePassword}}
                            <br/>
                            <br/>
                            <div class="col-xs-4">
                                <button class="btn" type="submit" ><span style="color:black;font-family:arial">Cambiar Contraseña</span></button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>