
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <app-sidebar></app-sidebar>
    
    
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    
    <app-navbar></app-navbar>
    <!-- Page content-->
    <div class="container-fluid">
        
        <div class="window-body windowBody">
            <form>
                <div class="col-xs-16">
                    <div class="col-xs-16">
                        <div class="panel panel-primary borderFormUsuario">
                            <div class="panel-heading panelHeadind">
                                <h3 class="panel-title backgroudNavUsu">Datos de usuario</h3>
                            </div>
                            <div class="row rowFormUser">
                                <div class="col">
                                    <label class="req">Usuario<span class="req">*</span></label>
                                    <input type="text" id="usuario" name="USUARIO" class="form-control"
                                    [disabled]="disabled">
                                </div>
                                <div class="col">
                                    <label class="req">Documento<span class="req">*</span></label>
                                    <input type="number" name="CODIGO" id="codigo" class="form-control"
                                    [disabled]="disabled">
                                </div>
                                <div class="col">
                                    <label class="req">Nombre<span class="req">*</span></label>
                                    <input class="form-control" name="NOMBRE DE USUARIO" id="nombre_usuario" 
                                    [disabled]="disabled"/>
                                </div>
                                <div class="col">
                                    <label class="req">Tipo Usuario</label>
                                    <select class="form-control" [disabled]="disabled">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row rowFormUser">
                                <div class="col">
                                    <label class="req">Contraseña<span class="req">*</span></label>
                                    <input type="password" name="CONTRASEÑA"  class="form-control"
                                    [disabled]="disabled"/>
                                </div>
                                <div class="col">
                                    <label class="req">Confirmar contraseña<span class="req">*</span></label>
                                    <input type="password" name="CONF. Contraseña" class="form-control" 
                                    [disabled]="disabled"/>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    <div class="col-xs-16">
                        <div class="col-xs-16">
                            <div class="panel panel-primary borderFormUsuario">
                                <div class="panel-heading panelHeadind">
                                    <h3 class="panel-title backgroudNavUsu">PERMISOS</h3>
                                </div>
                                <div class="panel-body" >
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-striped" width="100px" style="overflow-y:scroll">
                                            <thead>
                                                <tr>
                                                    <th>ITEM</th>
                                                    <th>VENTANA</th>
                                                    <th>MODULO</th>
                                                    <th>AUTORIZADO</th>
                                                    <th>P.E. I</th>
                                                    <th>P.E. II</th>
    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of dataviews">
                                                    
                                                    <td style="text-align: center" ><span >{{item.id}}</span></td>
                                                    <td>{{item.module_name}}</td>
                                                    <td>{{item.module}}</td>
                                                    
                                                    <td><input type="checkbox"  [disabled]="disabled"/></td>
                                                    <td><input type="checkbox"  [disabled]="disabled"/></td>
                                                    <td><input type="checkbox"  [disabled]="disabled"/></td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <app-ventanabusqueda></app-ventanabusqueda>
            </div>
        </div>
        <div class="window-footer">
            <app-toolbar></app-toolbar>
        </div>

        <div>
            
        </div>
    </div>
  </div>

</div>



