body {
    
    width: 100%;
    
    background-size:cover;
  }

input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
    /*margin: 0;
    vertical-align: middle;
    background: #fff;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*font-weight: 300;
    line-height: 50px;
    color: #888;*/

}

.container{
    background: url("../../assets/backgrounds/1.png");
    height: 500px;
    width: auto;
    background-size: cover;
    margin-top: 20px;
    
}
/*.top-content {
    background: url("../../assets/backgrounds/1.png");
}*/

textarea,
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

button.btn {
    height:50;
    margin: 0;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;

}
