<div class="container-fluid">

    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper" *ngIf="Ocultar == true" style="background-color:#001b58 ;">
        <div class="sidebar-heading border-bottom  backgroudNav" routerLink="/home">Start Bootstrap</div>
        <div class="list-group list-group-flush backgroudNav">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/usuarios" >Usuarios</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/empleados" >Empleados</a>
        </div>
    </div>
    
</div>
