<div class="col-xs-12 barra">
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-buscar" *ngIf="buscar" (click)="openModal()">
            <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>
        <button type="button" class="btn btn-primary btn-imprimir" *ngIf="imprimir">
            <i class="fa fa-print" aria-hidden="true"></i> imprimir
        </button>
        <button type="button" class="btn btn-primary btn-nuevo" *ngIf="crear" (click)="habiliarCampos(false)">
            <i class="fa fa-plus" aria-hidden="true"></i> Crear
        </button>
        <button type="button" class="btn btn-primary btn-guardar" *ngIf="guardar">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
        </button>
        <button type="button" class="btn btn-primary btn-editar" *ngIf="editar">
            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
        </button>
        <button type="button" class="btn btn-primary btn-actualizar" *ngIf="actulizar">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Actualizar
        </button>
        <!--<button id="{{formulario}}-eliminar" type="button" class="btn btn-primary btn-eliminar"
                ng-show="showBtn.eliminar" ng-disabled="state.eliminar" ng-click="eliminar()">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar
        </button>-->
        <button  type="button" class="btn btn-primary btn-borrar" *ngIf="confirmar">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmar
        </button>
        <button  type="button" class="btn btn-primary btn-cancelar" *ngIf="cancelar" (click)="habiliarCampos(true)">
            <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
        </button>
        <button  type="button" class="btn btn-primary btn-cerrar" *ngIf="cerrar">
            <i class="fa fa-times" aria-hidden="true"></i> Cerrar
        </button>
    </div>
</div>
