<div class="d-flex" id="wrapper">
  <div style="height: 650px;width: auto;overflow-y: scroll; width: 350px; margin-top:70px;">
    <app-sidebar></app-sidebar>
  </div>
  
    <!-- Sidebar-->
    <!-- <div class="border-end bg-white" id="sidebar-wrapper" *ngIf="Ocultar == true" style="background-color:#001b58 ;">
      <div class="sidebar-heading border-bottom  backgroudNav">Start Bootstrap</div>
      <div class="list-group list-group-flush backgroudNav">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" >Usuarios</a>
          
      </div>
  </div> -->
  <!-- Page content wrapper-->
  <div id="page-content-wrapper" style="float: right ; margin-left: -320px;">
    <!-- Top navigation-->
    
    <app-navbar></app-navbar>
    <!-- Page content-->
    <div class="container-fluid fondoHome">
       <!-- <app-usuarios></app-usuarios> -->
    </div>
  </div>
<!-- <div>
    {{ userDetails }} <button (click)="onLogout()">Cerrar Sesion</button>
</div> -->
</div>
